body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
}

h1, h2 {
    font-size: 18px;
}

#news-container {
    height: 200px; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

#todo-container {
    margin-top: 10px;
}

.task-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-row input[type="text"] {
    flex-grow: 1;
    margin-right: 5px;
}

.task-row button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
}
